<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TV Polychroma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>360FDEBC1EBB46610027849B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F73924EE1F8EC87800D3EA3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F73925031F8EC87900D3EA3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F739250E1F8EC87900D3EA3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
